.login-form{
  width:50%;
}

.login{
  width:50%;
  height:40%;
  border-radius:2em;
  border-color:blue;
}

.center{
  margin: 0 auto;
}

.column{
  display:flex;
  flex-direction:column;
}

tr,td{
  text-align:center;
}